#contact
{
    height: 100px;
    width: 100%;
    max-width: 1020px;
    //background-color: aqua;
    margin-top: 60px;

    h1
    {
        font-size: 36px;
        font-weight: 300;
        letter-spacing: 2px;
        color: black;
        //background-color: blueviolet;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .contact_line
    {
        height: 2px;
        width: 195px;
        background-color: black;
        position: absolute;
        top: 202px;
        //top: 600px;
        //left: 6%;
        //right: 100%;
        //margin: auto;
    }
}

#contact_div
        {
            // width: 10vw;
            // max-width: 236px;
            // height: 13vw;
            width: 100%;
            height: 700px;
            display: flex;
            //margin-bottom: 48px;
            //padding-top: 120px;
            //background-color: brown;

            img
            {
                object-fit: cover;
                object-position: center;
                position: absolute;
                width: 400px;
                height: 442px;
                margin-left: -510px;
                //padding-top: 20px;
            }

            p
            {
                //position: absolute;
                text-align: left;
                //background-color: aqua;
                margin-top: 500px;
                margin-left: -510px;
                font-size: 18px;
                width: 400px;
            }

            .form_div
            {
                display: flex;
                //padding-left: 100px;

                #contact_form
                {
                    height: 140px;
                    //background-color: blueviolet;
                    position: absolute;
                }

                input[type=text]
                {
                    height: 60px;
                    width: 528px;
                    background-color: #F5F5F5;
                    border: none;
                    font-family: proxima-nova, sans-serif;
                    font-size: 16px;
                    padding-left: 15px;
                }

                textarea
                {
                        width: 528px;
                        height: 192px;
                        max-height: 192px;
                        //margin-left: 22%;
                        background-color: #F5F5F5;
                        border: none;
                        font-family: proxima-nova, sans-serif;
                        font-size: 16px;
                        padding-left: 15px;
                }

                input[type=submit]
                {
                    //position: absolute;
                    //margin-top: 5px;
                    background-color: #79ADDC;
                    border: none;
                    padding: .5vw .8vw .5vw .8vw;
                    letter-spacing: .1vw;
                    font-weight: 400;
                    font-size: .8vw;
                    font-family: proxima-nova, sans-serif;
                    color: white;
                    height: 60px;
                    width: 164px;
                    //border-radius: 20%;
                }
            }
        }

@media screen and (max-width: 1080px)
{
    #contact
    {
        width: 80%;  
    }

    #contact_div
    {

        width: 80%;
        height: 1250px;

        img
        {   
            margin-left: -210px;
        }

        p
        {
            //position: absolute;
            text-align: left;
            //background-color: aqua;
            margin-top: -140px;
            margin-left: -210px;
            font-size: 1.8vw;
        }

        .form_div
        {
            margin-top: 600px;

            input[type=text]
                {
                    width: 80%;
                    font-size: 10px;
                    padding-left: 15px;
                }

                textarea
                {
                        width: 80%;
                        max-width: 400px;
                        font-size: 16px;
                        padding-left: 15px;
                }

                input[type=submit]
                {
                    //position: absolute;
                    //margin-top: 5px;
                    background-color: #79ADDC;
                    border: none;
                    padding: .5vw .8vw .5vw .8vw;
                    letter-spacing: .1vw;
                    font-weight: 400;
                    font-size: .8vw;
                    font-family: proxima-nova, sans-serif;
                    color: white;
                    height: 60px;
                    width: 164px;
                    //border-radius: 20%;
                }
        }
    }
}